.red{
  fill:#F44336
}
.pink{
  fill:#E91E63
}
.violet{
  fill:#9C27B0
}
.purple{
  fill:#673AB7
}
.darkblue{
  fill:#3F51B5
}
.blue{
  fill:#2196F3
}
.lightblue{
  fill:#03A9F4
}
.mediumturquoise{
  fill:#00BCD4
}
.darkgreen{
  fill:#009688
}
.green{
  fill:#4CAF50
}
.lightgreen{
  fill:#8BC34A
}
.greenyellow{
  fill:#CDDC39
}
.lightyellow{
  fill:#FFEB3B
}
.yellow{
  fill:#FFC107
}
.orange{
  fill:#FF9800
}
.orangered{
  fill:#FF5722
}
.brown{
  fill:#795548
}
.gray{
  fill:#9E9E9E
}
.slategrey{
  fill:#607D8B
}
