.red{
  color:#F44336
}
.pink{
  color:#E91E63
}
.violet{
  color:#9C27B0
}
.purple{
  color:#673AB7
}
.darkblue{
  color:#3F51B5
}
.blue{
  color:#2196F3
}
.lightblue{
  color:#03A9F4
}
.mediumturquoise{
  color:#00BCD4
}
.darkgreen{
  color:#009688
}
.green{
  color:#4CAF50
}
.lightgreen{
  color:#8BC34A
}
.greenyellow{
  color:#CDDC39
}
.lightyellow{
  color:#FFEB3B
}
.yellow{
  color:#FFC107
}
.orange{
  color:#FF9800
}
.orangered{
  color:#FF5722
}
.brown{
  color:#795548
}
.gray{
  color:#9E9E9E
}
.slategrey{
  color:#607D8B
}
