.redfill{
  fill:#F44336
}
.pinkfill{
  fill:#E91E63
}
.violetfill{
  fill:#9C27B0
}
.purplefill{
  fill:#673AB7
}
.darkbluefill{
  fill:#3F51B5
}
.bluefill{
  fill:#2196F3
}
.lightbluefill{
  fill:#03A9F4
}
.mediumturquoisefill{
  fill:#00BCD4
}
.darkgreenfill{
  fill:#009688
}
.greenfill{
  fill:#4CAF50
}
.lightgreenfill{
  fill:#8BC34A
}
.greenyellowfill{
  fill:#CDDC39
}
.lightyellowfill{
  fill:#FFEB3B
}
.yellowfill{
  fill:#FFC107
}
.orangefill{
  fill:#FF9800
}
.orangeredfill{
  fill:#FF5722
}
.brownfill{
  fill:#795548
}
.grayfill{
  fill:#9E9E9E
}
.slategreyfill{
  fill:#607D8B
}
