.redbg{
  background-color:#F44336
}
.pinkbg{
  background-color:#E91E63
}
.violetbg{
  background-color:#9C27B0
}
.purplebg{
  background-color:#673AB7
}
.darkbluebg{
  background-color:#3F51B5
}
.bluebg{
  background-color:#2196F3
}
.lightbluebg{
  background-color:#03A9F4
}
.mediumturquoisebg{
  background-color:#00BCD4
}
.darkgreenbg{
  background-color:#009688
}
.greenbg{
  background-color:#4CAF50
}
.lightgreenbg{
  background-color:#8BC34A
}
.greenyellowbg{
  background-color:#CDDC39
}
.lightyellowbg{
  background-color:#FFEB3B
}
.yellowbg{
  background-color:#FFC107
}
.orangebg{
  background-color:#FF9800
}
.orangeredbg{
  background-color:#FF5722
}
.brownbg{
  background-color:#795548
}
.graybg{
  background-color:#9E9E9E
}
.slategreybg{
  background-color:#607D8B
}
