.red{
  background-color:#F44336
}
.pink{
  background-color:#E91E63
}
.violet{
  background-color:#9C27B0
}
.purple{
  background-color:#673AB7
}
.darkblue{
  background-color:#3F51B5
}
.blue{
  background-color:#2196F3
}
.lightblue{
  background-color:#03A9F4
}
.mediumturquoise{
  background-color:#00BCD4
}
.darkgreen{
  background-color:#009688
}
.green{
  background-color:#4CAF50
}
.lightgreen{
  background-color:#8BC34A
}
.greenyellow{
  background-color:#CDDC39
}
.lightyellow{
  background-color:#FFEB3B
}
.yellow{
  background-color:#FFC107
}
.orange{
  background-color:#FF9800
}
.orangered{
  background-color:#FF5722
}
.brown{
  background-color:#795548
}
.gray{
  background-color:#9E9E9E
}
.slategrey{
  background-color:#607D8B
}
