*,
*:before,
*:after{
  box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
	height:100%;
}
h1, h2, h3, h4, h5{
	margin-top:0;
	color:#fff;
  font-weight: normal;
}
body{
	background-color:#303030;
	text-align:center;
}
a{
  text-decoration: none;
  color: #fd0;
}
svg{
  fill-rule:evenodd;
}
.randomcolorfill{
  cursor: pointer;
}
a.savecat-svg,
a.savecat-png{
  line-height: 30px;
  padding: 0 10px 0 30px;
  background-position: left top;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  color: #000;
}
a.savecat-svg:hover,
a.savecat-png:hover{
  background-position: left center;
  background-color: #e91e63;
  color: #ccc;
}
a.savecat-svg:active,
a.savecat-png:active{
  background-position: left bottom;
  background-color: #c2185b;
  color: #000;
}
.savecat-png{
  background-image: url('../images/heart4.svg');
}
.savecat-svg{
  background-image: url('../images/code.svg');
}
